<div class="dialog-bg">
<div class="detail-box">
  <div class="col">
    <div class="col aling-item-center">
      <div class="header">
        <h1>Detalles</h1>
        <div class="exit-button" (click)="closeModal()">
          <svg
            width="21"
            height="20"
            viewBox="0 0 21 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.7231 2.51662L18.6831 0.638916L10.5954 8.08316L2.50777 0.638916L0.467773 2.51662L8.55543 9.96087L0.467773 17.4051L2.50777 19.2828L10.5954 11.8386L18.6831 19.2828L20.7231 17.4051L12.6354 9.96087L20.7231 2.51662Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
      <div class="col">
        <div class="info">
          <h2>{{ evento!.nombre }}</h2>
          <div class="basic-info">
            <h4>{{evento!.tipo}}</h4>
            <h4>{{ evento!.fecha }}</h4>
          </div>
          <h3>Descripcion</h3>
          <div class="description-box">
            <p>{{ evento!.descripcion }}</p>
          </div>
          <div *ngIf="evento!.tipo==='Evento'"class="place-box">
            {{ evento!.lugar }}
          </div>
          <div class="additional-info">
            <div class="settings-box">
              <app-alarm-settings
                [ajustes]="evento!.ajuste"
              ></app-alarm-settings>
            </div>
            <button class="shared-button" (click)="openModal()">
              <div>Compartido con</div>
              <svg
                width="8"
                height="12"
                viewBox="0 0 8 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 10.58L4.58 6L0 1.41L1.41 0L7.41 6L1.41 12L0 10.58Z"
                  fill="black"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div *ngIf="contactsOpened===true">
<app-sharedwith [conactList]="evento!.contactList" ></app-sharedwith></div>
