<div class="settings-info-box">
  <div class="settings-info-item">
    <p>Notificar cada</p>
    <div class="setting-nav" (click)="openModal('Notificar cada')">
      <p class="info">
        {{ ajustes!.notificarCada }}
      </p>
      <svg
        width="15"
        height="15"
        viewBox="0 0 15 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 12.8591L9.06275 7.2925L0 1.71374L2.79006 0L14.6627 7.2925L2.79006 14.585L0 12.8591Z"
          fill="#4C8DBD"
          fill-opacity="0.87"
        />
      </svg>
    </div>
  </div>
  <div class="settings-info-item">
    <p>Notificar Antes</p>
    <div class="setting-nav" (click)="openModal('Notificar Antes')">
      <p class="info">
        {{ ajustes!.notificarAntes }}
      </p>
      <svg

        width="15"
        height="15"
        viewBox="0 0 15 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 12.8591L9.06275 7.2925L0 1.71374L2.79006 0L14.6627 7.2925L2.79006 14.585L0 12.8591Z"
          fill="#4C8DBD"
          fill-opacity="0.87"
        />
      </svg>
    </div>
  </div>
  <div class="settings-info-item">
    <p>Sonido</p>
    <div class="setting-nav">
      <p class="info">{{ ajustes!.sonido }}</p>
      <div style="height: 15px;width: 15px;"></div>
    </div>
  </div>
</div>
