$base-color: white;
$second-color: white;
.settings-info-box {
  height: 100%;
  background-color: $second-color;
  width: 100%;
  .settings-info-item {
    height: 33.33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    p{
      font-size: 1.5vh;
    }
    .setting-nav {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &:hover{
        cursor: pointer;
      }
      svg{
        margin-left: 15px;
        margin-right: 15px;
      }
      p{


        font-size: 1.5vh;
        line-height: 24px;
        display: flex;
        align-items: center;

        color: #000000;

        &.info {
          font-weight: 700;
          color: #9c9c9c;
        }
      }
    }
  }
}
