<div class="alarm-detail-item">
  <div class="alarm-detail-preview">
    <div class="row">
      <div class="col-lg-6">
        <div class="col">
          <h1>{{ alarm!.nombre }}</h1>
        </div>
        <div class="col">
          <h3>{{ alarm!.tipo }}</h3>
        </div>
        <div class="col">
          <h3>{{ alarm!.fecha }}</h3>
        </div>
      </div>
      <div class="col-lg-4">


          <h3 class="compartido">Compartido con: <span class="contacts">C1,C2</span></h3>

       </div>
    </div>
  </div>
</div>
