.trail {
  height: 100vh;
  width: 4%;

  background: #ffffff;
  box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  padding-top: 44px;
  .icon-list{
    height: 24%;
    width: 44px;
    background-color: black;



  }
}
