$base-color: #f5f8ff;
$second-color: white;
.dialog-bg {
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 9;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.calendar-icon-button {
  &:hover {
    cursor: pointer;
  }
}
.create-box {
  z-index: 10;
  width: 63.338vw;
  padding-bottom: 50px;
  border-radius: 5px;
  background-color: $base-color;
  position: absolute;
  .event-info {
    margin-top: 10px;
    width: 100%;

    .inputs-group {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;


      input {
       padding-left: 10px;
       padding-top: 5px;
        width: 40%;
        border: 0px;
        font-size: 1.8vh;
        border-radius: 5px;
      padding-bottom: 5px;
        height: 3vh;
        &:focus {
          border-color: 0px solid white;
          outline: none;
        }
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
  }
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .header {
    padding: 15px;
    h1 {
      text-align: center;
      font-size: 4.46vh;
      color: #33658a;
      margin-bottom: 0px;
    }
    .exit-button {
      position: absolute;
      right: 25px;
      top: 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .form-box {
    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .hour-input {
      width: 10.2vw;
      height: 12vh;
      margin-bottom: 20px;
      .box {
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #f5f8ff;
        align-items: center;
        justify-content: space-evenly;
        button {
          border: 0px;
          background-color: #f5f8ff;
        }
        .choose {
          width: 33%;
          height: 100%;
          background-color: #f5f8ff;
          display: flex;
          flex-direction: column;
          .selected {
            border-width: 2px 0px;
            border-style: solid;
            border-color: #c2ddeb;
            font-weight: 600;
            height: 50%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 2vh;
          }
          .time-choice {
            height: 25%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #9c9c9c;
            font-size: 1.8vh;
            &:hover {
              cursor: pointer;
            }
          }
          .selected-choice {
            height: 50%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;


          }
          .selected-time {
            height: 50%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-width: 1px 0px;
            border-style: solid;
            border-color: #c2ddeb;
            font-weight: 600;
            font-size: 20px;
          }
          .choice {
            height: 25%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #9c9c9c;
            font-size: 1.8vh;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .day-picker {
      width: 100%;
      height: 50px;
      margin-top: 5px;
      margin-bottom: 5px;

      .header-day {
        color: #5b83a1;
        justify-content: space-between;
        display: flex;
        align-items: center;
      }
      .days {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: #bebebe;
        .day-item {
          font-size: 1.5vh;
          &:hover {
            cursor: pointer;
          }
        }
        .selected {
          color: #5b83a1;
        }
      }
    }
    .type-button {
      width: 100%;
      height: 3.4vh;
      padding-left: 20px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      justify-content: space-between;
      border: 0;
      font-size: 1.8vh;
      background-color: white;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      color: #5b83a1;
    }

    input[type="text"] {
      &.nombre {
        margin-top: 15px;
        font-size: 1.5vh;
        border: 0px;
      border-radius: 5px;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }


      &:focus {
        border-color: 0px solid white;
        outline: none;
      }

    }

    h2 {
      font-size: 2.22vh;
      color: #4180af;
    }
    .basic-info {
      display: flex;
      justify-content: space-between;
      h4 {
        color: #9c9c9c;
        font-size: 2vh;
      }
    }
    h3 {
      font-size: 2.22vh;
      color: #4180af;
    }
    .description-box {
      width: 100%;

      padding-top: 15px;

      font-size: 2.2vh;
      .description {
        height: 7.6vh;
        width: 100%;
        display: flex;
        justify-items: start;
        justify-content: start;
        padding-left: 0px;
        overflow-y: auto;
        font-size: 1.5vh;
        resize: none;
        border: none;
        padding-left: 10px;
        border-radius: 5px;
        &:focus {
          border-color: 0px solid white;
          outline: none;
        }
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
    .place-box {
      margin-top: 15px;
      width: 35%;
      height: 5%;
      padding-left: 10px;
      padding-top: 5px;
      border-radius: 5px;
      background-color: $second-color;
      font-size: 1.85vh;
      font-weight: 400;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .additional-info {
      margin-top: 15px;
      display: flex;
      width: 100%;
      height: 26vh;
      justify-content: space-between;
      .settings-box {
        height: 100%;
        background-color: $second-color;
        width: 40%;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      button {
        margin-left: 30px;
        height: 12%;
        width: 32%;
        font-size: 1.8vh;
        display: flex;
        align-items: center;
        border-radius: 5px;
        justify-content: space-between;
        border: 0;
        color: #4180af;
        background-color: white;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
    button {
      &.save {
        margin-top: 4.6vh;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        width: 16vw;
        height: 3vh;
        border-radius: 100px;
        border: 0px;
        background-color: #33658a;
        justify-content: center;
        align-items: center;
        display: flex;
        .button-text {
          height: 100%;
          width: 100%;
          font-weight: 700;
          font-size: 1.8vh;
          color: white;
        }
        &:hover {
          background-color: #254a65;
        }
        .image-button {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}
