<div class="dialog-bg2">
  <div class="contacts-box">
    <div class="col header">
      <h1>Compartir</h1>
      <div class="exit-button" (click)="closeModal()">
        <svg
          width="21"
          height="20"
          viewBox="0 0 21 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.7231 2.51662L18.6831 0.638916L10.5954 8.08316L2.50777 0.638916L0.467773 2.51662L8.55543 9.96087L0.467773 17.4051L2.50777 19.2828L10.5954 11.8386L18.6831 19.2828L20.7231 17.4051L12.6354 9.96087L20.7231 2.51662Z"
            fill="black"
          />
        </svg>
      </div>
    </div>
    <div class="contacts-list">
      <div class="search-bar">
        <input type="text" placeholder="Buscar contacto">
      </div>
      <div class="contacts-form" *ngFor="let contact of contactList;index as i">
      <div class="contact-list-item">
        <div class="contact-initials">{{ getContactInitals(contact)}}</div>
        <div class="name" style="font-size: 1.8vh;">{{contact}}</div>
      </div>
      <input type="radio" value="{{contact}}" (click)="addContact(contact,i)" [checked]="selected[i]">
    </div>
    </div>

    <div class="footer-contacts">

        <div class="contacts-selected" *ngIf="contactSelectedH!.length<=3" >
        <div class="contact-list-item"*ngFor="let contact of contactSelectedH">
          <div class="contact-initials">{{ getContactInitals(contact)}}</div>
          <div class="name" >{{contact}}</div>
        </div>
      </div>

      <div class="contacts-selected" *ngIf="contactSelectedH.length>3">
        <div class="contact-list-item"*ngIf="contactSelectedH!.length==4">
           <p>{{contactSelectedH![0]}}, {{contactSelectedH![1]}}, {{contactSelectedH![2]}}, y otra persona más</p>

        </div>
        <div class="contact-list-item"*ngIf="contactSelectedH.length>4">
          <p *ngIf="contactSelectedH!.length>=5">{{contactSelectedH![0]}}, {{contactSelectedH![1]}}, {{contactSelectedH![2]}}, y otros {{contactSelectedH!.length-3}} contactos más</p>

       </div>

    </div>
    <div class="button-box">
      <button (click)="addContacts()">Compartir</button>
    </div>
  </div>
</div>
